.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-top: 50px;
}

.dots:after {
    content: '\f141' !important;
    font-family: FontAwesome !important;
    font-size: 30px !important;
    color: black !important;
}

.edit {
    margin: 6px -100px 0 !important;
    min-width: 100px !important;
}

.content-header>.breadcrumb {
    float: left !important;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    left: 10px !important;
    border-radius: 2px;
}

.box-color {
    border-top: 0 !important;
    box-shadow: 0 !important;
    ;
}

.products {
    border: 1px solid #d2d6de !important;
    padding: 20px;
    border-radius: 20px !important;
}

.content-header>.breadcrumb1 {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.sorting_1>img {
    display: block;
    margin: 0 auto !important;
}


/* tr {
    cursor: pointer !important;
} */

.times-webkit-datetime-edit-ampm-field {
    display: none;
}

.times::-webkit-inner-spin-button,
.times::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 9px;
}

.times::-ms-inner-spin-button,
.times::-ms-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 9px;
}

.times::-ms-moz-spin-button,
.times::-ms-moz-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 9px;
}

.vdp-datepicker>div>input {
    background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0 !important;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield !important;
    /* Firefox */
}

@media only screen and (max-width: 1024px) {
    .scrollable-table {
        overflow-x: auto !important;
    }
    .scrollable-table>.table>tbody>tr>td>input,
    .scrollable-table>.table>tbody>tr>td>select {
        width: 25vw !important;
    }
}

.has_error {
    border-color: red !important;
}

.disable-input {
    background-color: #eee;
    opacity: 1;
}

.btn-width {
    width: 200px;
    margin-bottom: 10px;
}

.swal-footer {
    text-align: center !important;
}

.table-tr>td>img {
    display: block;
    width: 50%;
    height: 60px;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

.scrollable {
    max-height: 200px;
    overflow-y: scroll;
    width: 250px;
}


/* effect-shine */

a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.box-bg {
    background: #E8E8E8;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background: #808080;
}

.direct-chat-text {
    margin: 3px !important;
}

.admin-style {
    background: #3c8dbc !important;
    color: white !important;
    border: 1px solid #3c8dbc !important;
}

.contact-style {
    background: #d2d6de !important;
    color: #444 !important;
    border: 1px solid #d2d6de !important;
}

..direct-chat-text:after,
.direct-chat-text:before {
    border-right-color: transparent !important;
}

.right .direct-chat-text:after,
.right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: transparent !important;
}

.direct-chat-text:after,
.direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: transparent !important;
}

.dropdown-font {
    font-size: 18px;
}

.width-td {
    width: 12vw;
}


/* The slow way */

.make-it-slow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}


/* Transition to a bigger shadow on hover */

.make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


/* The fast way */

.make-it-fast {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


/* Pre-render the bigger shadow, but hide it */

.make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


/* Transition to showing the bigger shadow on hover */

.make-it-fast:hover::after {
    opacity: 1;
}